* {
 background-repeat: repeat; 
}
body {
    background: url("/testimg.jpg") top center repeat-y fixed;
    height: 100%;
    font-family: sans-serif;
}

h1 {
 text-align: center;   
}

h3 {
 color: coral;   
}

.para {
    font-style:italic;
    margin: 40px;
    box-sizing: content-box
}

.navbar {
    display:inline;
}

.bodybox {
 position: fixed;
 display: block;
 z-index: 1;
}

p {
    z-index:2;
}