* {
 background-repeat: repeat; 
 background-position: fixed;
}
body {
    background: url("/testimg.jpg") top center repeat-y fixed;
    height: 100%;
    font-family: sans-serif;
}

h1 {
 text-align: center;   
}

h3 {
 color: black;   
}

.para {
    font-style:italic;
    margin: 40px;
    box-sizing: content-box
}

.navbar {
    display:inline;
}

.bodybox {
 display: block;
 z-index: 1;
 background-color: #00CED1;
 margin: 65px;
 padding: 12.5px;
 border-style: inset;
 border-width: 3px;
 border-color: #1E90FF;
}

p {
    z-index:2;
}

li {
 display: inline-block;
 font-family: Gill Sans, sans-serif;
 margin: 15px;
 padding: 15px
 transition: background-color 0.15s ease;
}

li:hover {
    background-color: #696969;
}

/* .hovered {
    background-color: #DCDCDC;
} */