body {
    background-image: url("/testimg.jpg");
    font-family: sans-serif;
    overflow: scroll;
}

h1 {
 text-align: center;   
}

h3 {
 color: coral;   
}

.para {
    font-style:italic;
    padding: 10px;
    box-sizing: content-box
}

.navbar {
    display:inline;
}

.bodybox {
 position: fixed;
 z-index: 1;
}

p {
    z-index:2;
    display: inline-block;
}