* {
 background-position: fixed;
}


html {
background-image: linear-gradient(180deg, #c0c0c0, #0678C0 30%, #0678C0 85%, #c0c0c0);
}

body {
    height: auto;
    line-height: 1.35;
    position: relative;
}

.title {
 text-align: center;
 font-family: 'Lato'; sans-serif;
 margin-top: 100px; 
}

h2 {
 font-family: 'Lato', sans-serif;
}

h3 {
 text-align: center;
 text-transform: uppercase;
 color: black;
 font-family: 'Lato', sans-serif;   
}

.para {
    font-style:italic;
    margin: 40px;
    box-sizing: content-box
}

.navbar {
    display:inline;
    z-index: 200;
    width: 98.5%;
    height: 80px;
    position: fixed;
    background-color: black;
    filter: opacity(70%);
    margin-right: 8px;
    margin-top: -2.4cm;
}

ul {
margin-left: 3.5cm;
margin-top: -1.9cm;
}

.bodybox {
 display: block;
 z-index: 20;
 background-color: #DCDCDC;
 margin: 65px;
 padding: 12.5px;
 border-style: inset;
 border-width: 3px;
 border-color: #696969;
 font-family: 'Ek Mukta', sans-serif;
}

p {
    z-index:25;
}

.bottomtext {
 text-align: right;
 font-family: 'Ek Mukta', sans-serif;
 margin: 17px;
}

li {
 display: inline-block;
 font-family: Gill Sans, sans-serif;
 margin: 15px;
 padding: 15px
 z-index: 202
 transition: background-color 0.25s ease;
 transition: border-color 0.25s ease;
 transition: border-width 0.25s ease;
}

li:hover {
    background-color: #696969;
    border-width: 10px;
    border-color: #696969;
}

a:link
{
   color: #dddddd;
   text-decoration: none;
}
a:visited
{
   color: #dddddd;
   text-decoration: none;
}
a:hover
{
   color: #dddddd;
   text-decoration: none;
}
a:active
{
   color: #dddddd;
   text-decoration: none;
}

.linkbox {
margin: 10px 50px;
display: inline-block;
border-style: outset;
border-width: thick;
padding: 15px;
background-color: white;
width: 250px;
height: 250px;
}

.insta {
margin-bottom: -17px;
}